.container {
    display: grid;

    width: 80vh;
    height: 80vh;
    grid-gap: 0;
    margin: 0;
    border: none;
    border: 1px solid black;
    margin: auto;
}

.gridItem {
    border: 0.5px solid grey;

}